body {
    background-color: #f1f0f0;
    margin: 0;
  }
  .head {
    background-color: white;
    text-align: center;
    margin: 0;
    height: 50px;
    width: 100%;
  }
  
  .ticketHack {
    color: aqua;
    font-size: 20px;
    display: flex;
    align-items: center;
  }
  
  #resa {
    display: flex;
    justify-content: flex-end;
  }
  
  #booking {
    background-color: white;
    justify-content: center;
    margin: 175px;
    padding: 50px;
    height: 50px;
    text-align: center;
  }
  